<% if @highscore %>

<div id="table_wrapper">
  <table id="highscore_table">
  <tr>
    <th>Name</th>
    <th>Score</th>
  </tr>
    <% @highscore.each do |row| %>
      <tr>
        <td><%= row.name %></td>
        <td><%= row.highscore %></td>
      </tr>
    <% end %>
  </table>
</div>
<% end %>