<div id="menu_wrapper">
  <form method="post" action="/game/new">
    <input class="button"  type="submit" value="New Game">
  </form>
  <form method="post" action="/game/load">
    <input class="button"  type="submit" value="Load Game">
  </form>
  <a href="/game/highscore" class="button">High Score</a>
</div>
<%= @tiles %> 

