<div id="menu_wrapper">
  <form method="post" action="/game/new">
    <input class="button center"  type="submit" value="New Game">
  </form>
  <form method="post" action="/game/load">
    <input class="button center"  type="submit" value="Load Game">
  </form>
  <form method="get" action="/game/highscore">
    <input class="button center"  type="submit" value="Highscore">
  </form>
</div>
<div class='outer_game_wrapper'>
  <%= @tiles %> 
</div>
<div id="message_wrapper" class="center">
  <div id="message_text" contenteditable='true'></div>
  <input type='submit' id="leave_message" class="button" value="Leave message">
</div>

