<div class="outer_game_wrapper">
  <div class="map_wrapper">
    <div class="tile_row">
      <div class="walkable  inline"></div>
      <div class="walkable message inline"></div>
      <div class="wall  inline"></div>
    </div>
    <div class="tile_row">
      <div class="wall  inline"></div>
      <div class="walkable  inline player"></div>
      <div class="wall  inline"></div>
    </div>
    <div class="tile_row">
      <div class="walkable  inline"></div>
      <div class="walkable  inline"></div>
      <div class="walkable  inline"></div>
    </div>
  </div>
  <div class="inventory_wrapper">
    <div class="inventory_row">
      <div class="keys_icon inventory_icon"></div>
      <div class="keys_amount inventory_amount">1</div>
    </div>
    <div class="inventory_row">
      <div class="gems_icon inventory_icon"></div>
      <div class="gems_amount inventory_amount">0</div>
    </div><div class="inventory_row">
      <div class="coins_icon inventory_icon"></div>
      <div class="coins_amount inventory_amount">0</div>
    </div>
    <div class="inventory_row">
      <div class="steps_icon inventory_icon"></div>
      <div class="steps_amount inventory_amount">54</div>
    </div>
  </div>
</div>