<h1>Login</h1>

<% if @error %>
  <strong>Invalid Credentials!</strong>
<% end %>

  <form method="post" action="login">
    <p>
      username: <input type="text" name="name" placeholder="username here">
    </p>
    <p>
      password: <input type="password" name="password" placeholder="password here">
    </p> 
    <p>
      <input class="button" type="submit" value="submit">
    </p>
  </form>