<h1>Sign-up</h1>
<% if @error %>
  <span class="error_message"><%= @error %></span>
<% end %>
<% if @player && @player.errors.any? %>
    <span class="error_message">Some issues with your message, please fix them:</span>
    <ul>
      <% @player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
<% end %>

<form method="post" action="signup">
  Username: <input type="text" name="name" placeholder="Username here"><br/>
  Password: <input type="password" name="password" placeholder="Password here"><br/>
  Password: <input type="password" name="password2" placeholder="retype password"><br/>
  <input class="button" type="submit" value="submit">
</form>
