div {
  width: 64px;
  height: 64px;
  /*border: 1px solid black;*/
  box-sizing: border-box;
}
.player {
  background-image: url('/images/player.gif');
  background-size: contain;
  background-repeat: no-repeat;
}
.map_wrapper {
  vertical-align: top;
  display: inline-block;
  width: 200px;
  height: 200px;
}
.tile_row {
  position: relative;
  display: block;
  width: 200px;
}
.inline {
  display: inline-block;
}
.walkable {
  background-color: green;
}
.wall {
  background-image: url('/images/StoneWallStandard.png');
  background-size: cover;
}
.portal {
  background-image: url('/images/PortalComplete.gif');
  background-size: cover;
}
.gem {
  /*background-color: red;*/
  background-image: url('/images/Diamond.gif');
  background-size: cover;
}
.key {
  background-color: purple;
}
.door {
  background-color: brown;
}
.outside {
  background-color: pink;
}
.start {
  background-color: gray;
}
.key_icon {
  background-image: url('/images/Key.png')
}
.inventory_wrapper {
  vertical-align: top;
  position: relative;
  display: inline-block;
  width: 260px;
  height: 260px;
  /*border: 1px solid black;*/
}
.inventory_icon {
  display: inline-block;
  width: 64px;
  height: 64px;
  background-color: gray;
}
.inventory_amount {
  display: inline-block;
  width: 100%;
}

