<div id="splash_screen">
DAEDALUS
</div>

<div id="sign_in_wrapper">
  <a href="/signup"><input type='button' class="button" value='Signup'></a>
  <a href="/login"><input type='button' class="button" value='Login'></a>
</div>